# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*



# ide files
*.iml
.idea/*

# compile files
**/target/**

# model and weights files
/orange-prediction/model-weights-2018-04-23-13-44-15.h5
/orange-prediction/model_ite19-0.json
